<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>
<script type='text/javascript'>
$(function() {

</script>

<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div style="width:100%; height:100%; background-color:#FF0000">
      <img style="margin: 105px 0 0 55px;" src = "http://www.bravecs.com/images/logo.png" alt=""/>
    </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div 
          data-id="redis_connected_clients" 
          data-view="Number" 
          style="background-color: #000000" 
          data-title="Clients">
        </div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="opc_server" data-view="Text" data-title="Hello" data-text="."  style="background-color: #0099FF" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div 
          data-id="redis_used_memory" 
          data-view="UsageGauge"  
          data-title="Memory"
          data-current=""
          >
        </div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div 
          data-id="time" 
          data-view="Text" 
          style="background-color: #3300FF" 
          data-title="Curret as of:">
        </div>
    </li>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div 
          data-id="Brave.calendar.opc_group.Out_dint" 
          data-view="Number" 
          style="background-color: #3300FF" 
          data-title="Prod. Count">
        </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div 
          data-id="Brave.calendar.opc_group.Out_int" 
          data-view="Number"
          style="background-color: #3300FF" 
          data-title="Time Behind"
          data-suffix=" sec">
        </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div 
          data-id="Brave.calendar.opc_group.Out_bool" 
          data-view="Text"
          style="background: url('http://dragonplate.com/applications/images/Industrial-Automation.jpg'); text-shadow: -2px 1px 9px rgba(150, 150, 150, 1); background-position: -86px; background-size: 143%;" 
          data-title="Run status">
        </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div 
          data-id="connected" 
          data-view="Text"
          style="background-color: #3300FF" 
          data-title="Connection state">
        </div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div 
        data-id="Brave.calendar.opc_group.Out_real" 
        data-view="Meter" 
        data-title="Utilization"
        data-min="0" 
        data-max="100" 
        style="background-color: #0099FF" >
      </div>
    </li>

<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div style="width:100%; height:100%; background-color:#000000">
        <video autoplay width=370 height=340 >
          <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
        </video>
      </div>
    </li>
-->    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div style="width:100%; height:100%; background-color:#000000">
        <iframe width="560" height="315" src="//www.youtube.com/embed/cR-YlZ9NdIA?rel=0&autoplay=1&autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </li> 
</ul>



</div>
